@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.normal {background-color: #a6a877;}
.grass {background-color: #77c850;}
.fire {background-color: #ee7f30;}
.water {background-color: #678fee;}
.electric {background-color: #d7cf2e;}
.ice {background-color: #98d5d7;}
.ground {background-color: #dfbf69;}
.flying {background-color: #a98ff0;}
.poison {background-color: #a040a0;}
.fighting {background-color: #bf3029 ;}
.psychic {background-color: #f65687;}
.dark {background-color: #725847;}
.rock {background-color: #b8a137;}
.bug {background-color: #a8b720;}
.ghost{background-color:  #6e5896;}
.dragon {background-color: #6f38f6;}
.steel {background-color: #b9b7cf;}
.fairy {background-color: #f9aec7;}

.pokeUnit{
    display: flex ; 
    background-color: #77c850;
    margin: auto;
    height: 60vh;
    min-width: 350px;
    max-width: 100%;
}

.pokeUnit .pokeMain {
    width: 100%;
    height: 50vh;   
    margin: 20px 20px 0px 20px; 
}
.pokeMain .backButton button {
    display: flex;
    padding: .5rem .75rem;
    margin: .25rem .25rem;
    font-size: .625rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;

}
.backButton button:hover {
    padding: .5rem .75rem;
    margin: .25rem .25rem;
    font-size: .625rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 1rem;
    color: #fff; 
    filter: brightness(1.1);
    transition: .2s;
    filter: contrast(1.2);
    transform: scale(1.5);
    

}

.pokeMain .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

}

.pokeMain .detail .name {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.pokeMain .detail .number {
    color: rgba(255, 255, 255, 0.863);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.pokeMain .detail ol{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    color: #fff;
}
.pokeMain .detail li{
    font-size: .8rem;
    margin: .25rem;
    background-color: #a040a0;
    padding: .2rem .5rem;
    border-radius: 1rem;
    filter: brightness(1);
}

.pokeUnit .pokeImg{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40vh;
}

.pokeUnit .pokeImg img {

    max-width: 100%;
    height: 250px;
}

/*Parte De baixo*/

.pokeDetailsUnit {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-top: -2rem;
    border-radius: 2rem 2rem 0rem 0rem;
    min-width: 350px;
}
.pokeDetailsUnit .secMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}

.pokeDetailsUnit .secMenu .itemMenu{
    font-size: .7rem;
    margin: .5rem;
    padding: .5rem;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 1rem;
    cursor: pointer;
}

.pokeDetailsUnit .secMenu .itemMenu:hover{
    font-size: 1rem;
    margin: .5rem;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.705);
    color: #fff;
    border-radius: 1rem;
    transition: 0.4s;
}

.pokeDetailsUnit .discription {
    display: flex;
    justify-content: space-evenly;
    height: 35vh;
}

.pokeDetailsUnit .discription .aboutList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.493);
    list-style: none;
    margin: 1rem;
}
.pokeDetailsUnit .discription .aboutStats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    list-style: none;
    margin: 1rem;
}
a {
    text-decoration: none;
}

@media screen and (min-width: 576px) {
    .pokeUnit {
        display: flex ; 
        background-color: #77c850;
        margin: auto;
        min-width: 350px;
        max-width: 576px;
    }
    .pokeDetailsUnit {
        max-width: 576px;
        margin: auto;
        width: 100%;
        background-color: #fff;
        margin-top: -2rem;
        justify-content: space-evenly;
    }
    .discription {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }

}
